<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 요청</title>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<p>Team ID: <span th:text="${teamId}"></span></p>
<p>Team Name: <span th:text="${teamSubscription.teamName}"></span></p>
<p>Team Subscription ID: <span th:text="${teamSubscriptionId}"></span></p>
<p>Team Subscription Name: <span th:text="${teamSubscription.subscriptionName}"></span></p>
<p>Start Date: <span th:text="${teamSubscription.startDate}"></span></p>
<p>End Date: <span th:text="${teamSubscription.endDate}"></span></p>
<p>Subscription Status: <span th:text="${teamSubscription.subscriptionStatus}"></span></p>
<h1>결제 요청</h1>

<button onclick="requestPay()">결제하기</button>


<script th:inline="javascript">
    var IMP = window.IMP;
    IMP.init('imp15871224');

    function requestPay() {
        var teamId = parseInt([[${teamId}]]);
        var teamSubscriptionId = parseInt([[${teamSubscriptionId}]]);
        var merchantUid = [[${teamSubscription.merchantUid}]];
        var subscriptionName = [[${teamSubscription.subscriptionName}]];
        var subscriptionPrice = parseInt([[${teamSubscription.subscriptionPrice}]]);
        var username = [[${teamSubscription.username}]];

        new Promise((resolve, reject) => {
            IMP.request_pay({
                pg: "kcp",
                pay_method: "card",
                merchant_uid: merchantUid,
                name: subscriptionName,
                amount: subscriptionPrice,
                buyer_name: username,
            }, function (rsp) {
                if (rsp.success) {
                    resolve(rsp);
                } else {
                    reject(new Error(`Payment failed: ${rsp.error_msg}`));
                }
            });

        }).then(function (rsp) {
            const verifyData = {
                impUid: rsp.imp_uid,
                paidAmount: rsp.paid_amount
            };

            //결제 검증
            fetch(`/api/team/${teamId}/subscription/${teamSubscriptionId}/payment/verifyIamport`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer eyJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2OTMxNDc0MDgsImV4cCI6MTY5MzE1MTAwOCwiaWQiOjIsInJvbGUiOiJVU0VSIn0.g5mJBId2EIJ45hJ8tQY_iud5PfMsUUIhJ4uTMp2VKe0`
                },
                body: JSON.stringify(verifyData)
            }).then(response => response.json())
                .then(verifyResult => {

                    if (verifyResult.status === "success") {
                        console.log(verifyResult.message);

                        var paymentInfo = {
                            impUid: rsp.imp_uid,
                            merchantUid: rsp.merchant_uid,
                            name: rsp.name,
                            paidAt: rsp.paid_at,
                            paidAmount: rsp.paid_amount,
                            payMethod: rsp.pay_method,
                            applyNum: rsp.apply_num,
                            payStatus: rsp.pay_status
                        };
                        //결제 정보 저장
                        fetch(`/api/team/${teamId}/subscription/${teamSubscriptionId}/payment/process`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2OTMxNDc0MDgsImV4cCI6MTY5MzE1MTAwOCwiaWQiOjIsInJvbGUiOiJVU0VSIn0.g5mJBId2EIJ45hJ8tQY_iud5PfMsUUIhJ4uTMp2VKe0'
                            },
                            body: JSON.stringify(paymentInfo)
                        }).then(processResponse => {
                            if (processResponse.ok) {
                                alert('결제 정보가 서버로 전송되었습니다.');
                            } else {
                                processResponse.json().then(processError => {
                                    console.error('결제 정보 전송 오류:', processError);
                                    alert('결제 정보 전송에 실패하였습니다.');
                                    alert(`error:[${processResponse.status}]\n결제요청이 승인된 경우 관리자에게 문의바랍니다.`);
                                });
                            }
                        }).catch(error => {
                            console.error('결제 정보 전송 오류:', error);
                            alert('결제 정보 전송에 실패하였습니다.');
                        });
                    } else {
                        alert(`결제 검증 실패: ${verifyResult.message}`);
                    }
                }).catch(error => {
                console.error('결제 검증 실패:', error);
                alert(`결제 검증 실패: ${error.message}`);
            });
        }).catch(error => {
            console.error('결제 처리 오류:', error);
            alert('결제 처리에 실패하였습니다.');
        });
    }
</script>


</body>
</html>
