<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo - 구독권 등록</title>

</head>
<body>
    <h1>구독권 등록</h1>

    <label for="subscriptionSelect">구독권:</label>
    <select id="subscriptionSelect"></select><br><br>


    <button onclick="createSubscriptionAndRedirect()">결제 페이지로 이동</button>

    <script>
        // 클라이언트 측에서 활성화된 구독권 정보를 받아오는 함수
        function fetchActiveSubscriptionsAndPopulateFields() {
            var apiEndpoint = '/api/subscription';
            var queryParams = '?page=0&limit=5'; // 페이지 및 리미트 설정

            fetch(apiEndpoint + queryParams)
                .then(response => response.json())
                .then(subscriptions => {
                    console.log(subscriptions)
                    var subscriptionSelect = document.getElementById('subscriptionSelect');
                    subscriptionSelect.innerHTML = ''; // 기존 옵션 제거

                    subscriptions.content.forEach(subscription => {
                        var option = document.createElement('option');
                        option.value = subscription.id; // 구독권 ID 또는 식별자
                        option.textContent = subscription.name; // 구독권 이름
                        subscriptionSelect.appendChild(option);
                    });

                })
                .catch(error => console.error('구독권 정보를 받아오는 중 오류 발생:', error));
        }

        window.onload = fetchActiveSubscriptionsAndPopulateFields;

    </script>
    <script>
        function createSubscriptionAndRedirect() {

            var subscriptionSelect = document.getElementById('subscriptionSelect');
            var subscriptionId = subscriptionSelect.value; // 구독권 ID 가져오기

            // 팀 구독권 생성 요청 보내기 (POST /api/users/{userId}/subscription/{subscriptionId})
            fetch(`/api/users-subscription/${subscriptionId}`, {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    // 생성된 팀 구독 ID와 결제 페이지로 이동
                    console.log(data)
                    var usersSubscriptionId = data.date.id;
                    console.log(usersSubscriptionId)
                    window.location.href = `/api/views/users-subscription/${usersSubscriptionId}/request-payment`;
                })
                .catch(error => console.error('팀 구독 생성 요청 오류:', error));
        }
    </script>
</body>
</html>